<!-- index.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>フィードの表示</title>
		<meta name="viewport" content="width=device-width initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!--
		{% for feed_dic in feed_dics %}
			{% for entries in feed_dic.entries %}
					{% print(entries.updated) %}
	    {% endfor %}
	  {% endfor %}
-->
    <header>
    	<div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">大学のイベントフィードまとめ的なやつ</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>大学のイベントフィード</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
    </header>
	
    <div class="search">
        <form action="/" method="POST">
            <input name="num">
        </form>
    </div>
	<main>
			<div class="container">

				<div class="row">
				  {% for entries in entry %}
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <img src={{ url_for("static", filename="No Image.png")}} alt="No-image">
                    <p class="card-text">
                      <small>{{ entries.updated }}</small><br>
                      <a href={{ entries.link }}>{{ entries.title }}</a>
                    </p>
                </div>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                </div>
						{% endfor %}
				</div>
      </div>
					
	</main>
</body>
</html>
